[tool.poetry]
name = "databank"
version = "0.4.1"
description = "Databank is an easy-to-use Python library for making raw SQL queries in a multi-threaded environment."
readme = "README.md"
authors = ["snapADDY GmbH <info@snapaddy.com>"]

[tool.poetry.dependencies]
python = "^3.10"
sqlalchemy = "^2.0.4"

[tool.poetry.dev-dependencies]
black = "^23.1.0"
isort = "^5.12.0"
pytest = "^7.2.1"

[tool.black]
line-length = 99

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
